.fixed-badge {
    background-color: #f0991b;
    z-index: 2;
    left: 10px;
    top: 0;
    width: 100px;
    height: 70px;
    color: white;
    position: fixed;
    font-weight: 700;
    text-align: center;
    padding-top: 7px;
}